   /*  body {
            width: 100%;
        }
        .father{
        width: 100%;
        display: grid;
        display: grid;
        grid-template-columns: 1fr 400px 600px 1fr;
        grid-template-rows: 10px 100px 1fr 50px;
        height: 100%;
        }
        .top {
            grid-column: 2/4;
            grid-row: 2/3;
            display: grid;
            width: 90%;
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }
        .top > .logo {
            display: inline-block;
            grid-column: 1/2;
            align-self: center;
        }
        .top > .nav{
            display: inline-block;
            width: 100%;
            float: right;
            text-align: center;
            align-self: center;
        }
            .top > .nav > .link{
                display: inline-block;
                margin: 10px 10px;
                text-decoration: none;
                color: darkgray;
            }
            .top > .nav > .button {
                display: inline-block;
                margin: 0px 10px;
                text-decoration: none;
                color: darkgray;
                padding: 5px 30px;
                border: 5px solid darkgrey;
                border-radius: 25px;
                font-weight: bold;
            }
            main {
                width: 100%;
                display: grid;
                grid-row: 3/4;
                grid-column: 2/3;
                object-fit: contain;
                grid-template-columns: 4fr 6fr;
            }
            .main {
                width: 1000px;
                display: grid;
                grid-template-columns: 4fr 6fr;
                grid-row: 3/4;
                grid-column: 1/4;
                grid-template-columns: 40% 60%;
            }
            .main > .bottom {
                color: darkgrey;
    grid-column: 1/2;
    align-self: center;
            }
            h1{
                display: inline-block;
                width: 100%;
                text-align: left;
                font-family: monospace;
                font-size: 100px;
            }
            p{
                display: inline-block;
                width: 80%;
                font-size: 36px;
            }
            .main > .img {
            display: inline-block;
            width: 100%;
             grid-column: 2/3;
            object-fit: cover;
            }

@media (max-width: 1000px) {
    .father {
        grid-template-columns: 20px 1fr 20px;
    }
    .main {
        width: 100%;
    }
} 
*/
 .logo {
    padding-top: 10px;
 }
 .nav {
    align-self: center;
    text-align: end;   
}
.nav > .link{
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px;
    color: darkgray;
}
.box {
    display: inline-block;
}
.box > .button {
    display: inline-block;
    text-decoration: none;
    color: darkgray;
    padding: 5px 30px;
    border: 5px solid darkgrey;
    border-radius: 25px;
    font-weight: bold;
}
/**********************************************/
.img {
    width: 100%;
    height: auto;
    max-height: 60vh;
}
.bottom {
    margin: 15% 0;
}
h1{
    display: inline-block;
    width: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 110px;
    color: darkgray;
}
p{
    display: inline-block;
    color: darkgray;
    width: 80%;
    font-size: 36px;
}
@media (max-width: 860px){
    .order {
        order: 2;
    }
}
@media (max-width: 680px) {
    .nav {
        text-align: center;
    }
    .logo {
        text-align: center;
    }
}
@media (max-width: 560px) {
    .nav  > a{
        width: 100%;
    }
    .nav .box {
        width: 100%; 
    }
    .container {
        padding-bottom: 20px;
    }
}